body{
    margin: 0px;
    padding: 0px;
    background-image: linear-gradient(11deg, black,rgb(209, 207, 207),rgb(107, 107, 107));
}
.nav{
    font-size: 30px;
    background-color: rgb(165, 165, 165);
    padding-left: 30px;
    
    


}
.nav a{
    font-size: 30px;
    padding-right: 25px;
    width: auto;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color: black;
   margin: 70px;
   margin-top: 40px;
   
}
.nav a:hover{
    color: white;
    font-size: 31px;
    text-decoration: underline skyblue 6px;
}

.nav  li a::after{
    content: '';
    display: block;
    width: 0px;
    height: 2px;
    background: blanchedalmond
    
}
.nav  li a::after::after{
    width: 100%;
}

img{
    height: 30%;
    width: 30%;
    float: right;
    margin-right: 23px;
    margin-top: 4px;
    border-radius: 20px;
}
p{
    max-width:64%;
    float : left;
    margin-left: 8px;
    padding: 2px;
    font-size: 19px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}
button{
    font-size: 20px;
    background-color: seashell;
    margin-top: 10px;
    margin-left: 1%;
    border-radius: 10px;

}
button:hover{
    background-color: rgb(194, 194, 194);

}
h1{
    font-size: 40px;
   text-align: center;
    text-align: right;
    margin-right: 150px;
    margin-top: 4px;
    margin-bottom: 4px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2{
    font-size: 32px;
  text-align: center;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   margin-bottom: 0px;
   padding: 7px;
   margin-top: 20px;
}
.form{
    padding: 20px;
    justify-items: center;
  
    

}
input{
    margin-bottom: 10px;
    height: 28px;
    width: 450px;
    border-radius: 10px;
    padding: 0;;
    
}
#a{
 
    margin-left: 28%;
    border-radius: 10px;
    width: 200px;

}
#a:hover{
    background-color: grey;
}
#nav{
    background-color: rgb(120, 119, 119);
    height: 50px;
}
.copyright{
    margin-left: 40%;
    color: rgb(0, 0, 0);
   
}
.contaner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.img{
width: 300px;
height: 300px;
background-blend-mode: lighten;

border-radius: 15px;

}
.p{
   margin-left: 29%;
   font-weight: bold;
}
.c{
    margin-left: 15%;
    font-weight: bold;
}
.q{
    font-weight: bold;
    margin-left: 15%;
}
#pappu{
    float: left;
    width: 300px;
    height: 300px;
}
.space{
    height: 100vh;
    width: 95vw;
    color: rgb(0, 0, 0);
  
}
#tom{
    display: flex;
    justify-content: center;
    margin-top: 20%;
}
.Z{
    border-radius: 50%;
    height: 200px;
    width: 200px;
}
ul{
    display: flex;
    list-style: none ;
    margin: 0;
}
